{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'quotesearch/style.css' %}" />
{% comment %}
{% if first_quotes %}
    <ul>
    {% for quote in first_quotes %}
        <p>{{ quote.quote }}  - {{ quote.author }}</a></p>
    {% endfor %}
    </ul>
	<form action="{% url 'quotesearch:search' %}" method="post">
		{% csrf_token %}
		<input type="text" name="svalue" value="{{ svalue }}">
		<input type="submit" value="THE DO NOTHING BUTTON">
	</form>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endcomment %}

<h1>Quote generator</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'quotesearch:search' %}" method="post">
		{% csrf_token %}
		<p>Search by:</p>
		<input type="radio" name="selection" id="1" value="stag" />
		<label for="1">tag</label><br />
		<input type="radio" name="selection" id="2" value="sauthor" />
		<label for="2">author</label><br />
		<input type="radio" name="selection" id="3" value="squote" />
		<label for="3">quote</label><br />
		<input type="text" name="svalue" value="{{ svalue }}">
		<label for="svalue">Search for (required)</label><br />
		<input type="text" name="snum" value="{{ snum }}" size="5" maxlength="5">
		<label for="snum">Up to how many quotes</label><br />
		<input type="submit" value="Search for quotes">
	</form>

